<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TajwalTestSuite">
	<listeners>
		<listener class-name="base.TestListener"></listener>
	</listeners>
	<test name="HotelSearch">
		<classes>
			<class name="hotel.SearchTests" />
		</classes>
	</test>
</suite>